.about
  background #FCFCFC

  & p
    text-align center
    max-width 860px
    margin 0 auto

  & img
    margin 55px auto 0
    display block
    width 100%
    max-width 860px

@media all and (orientation landscape) and (max-width 850px)
  .about
    & img
      margin 20px auto 0
      max-width 500px