.brand
  background #303030

  & h2
    color #FEFEFE
    margin 0 auto 75px
    max-width 550px

  &>img
    position absolute

    &:first-child
      left 5px
      top 5px

    &:nth-child(2)
      right 5px
      top 5px

  &_boxTop
    display flex
    justify-content space-between
    margin-bottom 64px

  &_boxBottom
    display flex
    justify-content space-between