.comment
  background #F8F8F8

  &_box
    
    &-wrapper
      display flex

    & .slick-track
      margin-top 80px

    &__item
      position relative
      padding 120px 5% 60px
      margin 0 40px 20px
      text-align center
      box-shadow 0px 12px 10px rgba(0, 0, 0, 0.05), 0px 4px 29px rgba(0, 0, 0, 0.0344991), 0px 2px 14px rgba(0, 0, 0, 0.0278145), 0px 1px 7px rgba(0, 0, 0, 0.0221855), 0px 0.5px 3px rgba(0, 0, 0, 0.0155009)

      & .quote
        display flex
        justify-content center

        &>img
          display block
          height fit-content

        &>p
          margin 0 65px
          max-width 650px

      &>p
        margin-top 35px

      &>img.person
        width 160px
        position absolute
        top 0
        left 50%
        transform translate(-50%, -50%)