header
  width 100%
  display flex
  justify-content space-between
  align-items center
  margin 0 auto
  padding-top 12px !important
  padding-bottom 12px !important
  width 100%
  background #FEFEFE
  position sticky
  top 0
  z-index 99
  box-shadow 0px 12px 80px rgba(0, 0, 0, 0.05),
    0px 4px 29px rgba(0, 0, 0, 0.0344991),
    0px 2px 14px rgba(0, 0, 0, 0.0278145),
    0px 1px 7px rgba(0, 0, 0, 0.0221855),
    0px 0.5px 3px rgba(0, 0, 0, 0.0155009)

  & .container
    display flex
    align-items center
    justify-content space-between

    &>img
      height 80px

    &>p
      max-width 300px
      text-align center

    &>.soc
      display flex

      & li
        display flex
        align-items center
        margin-right 5px

        &:last-child
          margin-right 0

        & a
          &>img
            display block
  
  & .link
    display flex
    
    &>li
      margin-right 20px
      
      &:last-child
        margin-right 0

    & img
      display block

.mobButton
  display none
  justify-content center
  align-items center
  width 30px
  height 30px
  border-radius 4px
  cursor pointer
  padding 5px
  position relative
  z-index 1

  & .burger
    display block
    border-radius 10px
    background #fff
    border-radius 1px
    width 20px
    height 2px
    position absolute
    top 50%
    transform translateY(-50%) rotate(0)
    transition .5s cubic-bezier(0.445, 0.05, 0.55, 0.95)

    &::before
      content ''
      display block
      width 100%
      height 2px
      border-radius 10px
      background #fff
      border-radius 1px
      position absolute
      top -7px
      transition .5s cubic-bezier(0.445, 0.05, 0.55, 0.95)

    &::after
      content ''
      display block
      width 100%
      height 2px
      border-radius 10px
      background #fff
      border-radius 1px
      position absolute
      top 7px
      right 0
      transition .5s cubic-bezier(0.445, 0.05, 0.55, 0.95)

.mobalMenu
  display none
  flex-direction column
  align-items center
  text-align center
  max-width 300px
  position absolute
  z-index 22
  right 45px
  top 50%
  background #fff
  padding 18px 28px
  border-radius 10px
  box-shadow 0px 12px 80px rgba(0, 0, 0, 0.05),
    0px 4px 29px rgba(0, 0, 0, 0.0344991),
    0px 2px 14px rgba(0, 0, 0, 0.0278145),
    0px 1px 7px rgba(0, 0, 0, 0.0221855),
    0px 0.5px 3px rgba(0, 0, 0, 0.0155009)

  &>.soc
    display flex
    margin-bottom 15px

    &>li
      margin-right 7px

      & a
        display block

        &>img
          display block

      &:last-child
        margin-right 0
  
  &>.subP
    margin-bottom 15px

@media all and (max-width 1024px)
  header
    & .container
      &>.soc
      &>.subP
        display none

  .mobButton
    display flex

  .mobalMenu
    &.open
      display flex

@media all and (max-width 560px)
  header
    & .container
      &>img
        height 50px

  .mobalMenu
    right 50%
    transform translateX(50%)

@media all and (orientation landscape) and (max-width 850px)
  header
    & .container
      &>img
        height 50px