.recomendation
  &_box
    display flex
    flex-wrap wrap
    justify-content space-between

    &__item
      max-width 335px
      margin-bottom 20px
      padding 10px 10px 28px
      width 30%

      &>p
        text-align center
        margin-top 35px

      & .img-wrapper
        box-shadow 0px 12px 80px rgba(0, 0, 0, 0.05),
          0px 4px 29px rgba(0, 0, 0, 0.0344991),
          0px 2px 14px rgba(0, 0, 0, 0.0278145),
          0px 1px 7px rgba(0, 0, 0, 0.0221855),
          0px 0.5px 3px rgba(0, 0, 0, 0.0155009)
        
        &>img
          width 100%