.sunnyBookGift
  background #8973DB
  color #fff
  position relative

  & .abstraction
    position absolute
    width 38%
    left 0
    bottom 25%

  & .container
    &>h2
      color #F2CB05
      margin-bottom 50px

  &_top
    display flex
    justify-content space-between
    margin-bottom 70px

    &__left
      width 40%

    &__right
      width 55%

      &>p
        &:first-child
          margin-bottom 20px


  &_bottom
    display flex
    justify-content space-between
    margin-bottom 50px

    &__left
      width 40%

    &__right
      width 55%

      &>ul
        margin-bottom 20px

        &>li
          margin-bottom 6px
          padding-left 26px
          position relative

          &::before
            content ''
            display block
            height 1px
            width 10px
            background #fff
            position absolute
            top 50%
            left 0
            transform translateY(-50%)

          &:last-child
            margin-bottom 0

      &>p
        margin-bottom 20px

        &:nth-child(2)
          margin-bottom 12px

    &__box
      margin-top 50px
      display flex
      justify-content space-between

      &-card
        width 100%
        background #A18FE2
        border-radius 10px
        padding 40px 10px
        min-height 270px
        display flex
        flex-direction column
        align-items center
        text-align center
        position relative

        &--wrapper
          display flex !important
          justify-content center
          width 33%
          max-width 190px

        &>a
          color #8973DB
          background #fff
          border-radius 10px
          padding 12px 36px
          position absolute
          bottom 40px

  &_subList
    &>li
      margin-bottom 6px
      color #F2CB05

      &:last-child
        margin-bottom 0

@media all and (max-width 1280px)
  .sunnyBookGift
    &_bottom
      &__box
        &-card
          margin-right 10px

          &:last-child
            margin-right 0

@media all and (max-width 1024px)
  .sunnyBookGift
    & .abstraction
      display none

    & .container
      &>h2
        margin-bottom 30px

    &_top
      flex-direction column
      margin-bottom 30px

      &__left
        max-width 400px
        width 100%
        margin-right 20px

      &__right
        width 100%

        &>p
          &:first-child
            margin-bottom 15px

    &_bottom
      flex-direction column

      &__left
        width 100%
        margin-right 20px

      &__right
        width 100%

      &__box
        max-width 700px
        margin 50px auto 0

@media all and (max-width 700px)
  .sunnyBookGift
    & .slick-dots
      & li
        &.slick-active
          & button
            &::before
              background #fff
        & button
          &:before
            background #B3A5E9

    &_bottom
      &__box
        &-card
          width 190px

          &--wrapper
            max-width 100%