@import "bibl/main.styl"
@import "bibl/menu.styl"
@import "bibl/promo.styl"
@import "bibl/about.styl"
@import "bibl/serves.styl"
@import "bibl/brand.styl"
@import "bibl/recomendation.styl"
@import "bibl/comment.styl"
@import "bibl/map.styl"

@import "bibl/quoteBlock.styl"
@import "bibl/footer.styl"

@import "bibl/slick-theme.css"
@import "bibl/slick.css"

@import "bibl/modal.styl"